<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>酷购网上书店</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:8080/tp3/public/static/index/res/static/css/mainB.css">
  <link rel="stylesheet" type="text/css" href="http://localhost:8080/tp3/public/static/index/res/layui/css/layui.css">
  <script type="text/javascript" src="http://localhost:8080/tp3/public/static/index/res/layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>
<style type="text/css">
#menu { 
    font:12px verdana, arial, sans-serif;
    text-align: center; 
  }

#menu ul {
    list-style: none;
    margin-left: 50px;
}
 
#menu li {
    display: inline;
    line-height: 40px;
    float:left
}

</style>
  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="{:url('typelist')}">首页</a>
      </p>
        <div class="sn-quick-menu">
       {foreach name="sf" item="vo"}
          <div class="login">欢迎您，{$vo.username}</div>
          <div class="login"><a href="{:url('My/index')}"><font color="blue">个人中心</font></a></div>
          <div class="login"><a href="{:url('Login/login')}">退出</a></div>
          <div class="sp-cart"><a href="{:url('Index/shopcar')}">购物车</a></div>
         {/foreach}
      </div>
    </div>
  </div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="酷购网上书店">
            <img src="http://localhost:8080/tp3/public/static/index/res/static/img/logo1.png" style="width: 550px;height: 90px;">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="{:url('select')}" class="layui-form" method="post" name="key" novalidate>
            <input type="text" name="key" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品" style="width: 433px;">
            <button class="layui-btn" onclick="SendForm();"  lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-nav-base commodity-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="{:url('typelist')}" class="active">所有商品</a>
          </div>
        </div>
      </div>
    </div>
    <div class="commod-cont-wrap">
      <div class="commod-cont w1200 layui-clear">
        <div class="left-nav">
          <div class="title">所有品牌</div>
          <div class="list-box">
            <dl>
             <dt></dt>
             {foreach name="left_list" item="vo"}
              <dd><a href="{:url('typelist',['tid'=>$vo.id])}">{$vo.name}</a></dd>
             {/foreach}
            </dl>
          </div>
        </div>
        <div class="right-cont-wrap">
          <div class="right-cont">
           
            <div class="prod-number">
              <span>分类：{$message}</span>
            </div>
            <div class="cont-list layui-clear" id="list-cont">
              {foreach name="goods_list" item="vo"}
              <div class="item">
                <div class="img">
                  <a href="{:url('details',['id'=>$vo.id])}"><img src="http://localhost:8080/tp3/public/static/index/images/{$vo.picture}" width="280px" height="300px;"></a>
                </div>
                <div class="text">
                  <p class="title">{$vo.goodsname}</p>
                  <p class="price">
                    <span class="pri">￥{$vo.price}</span>
                    <span class="nub">库存：{$vo.nums}</span>
                  </p>
                </div>
              </div>
              {/foreach}


            </div>
            <div id="menu"  class="layui-box layui-laypage layui-laypage-default"><ul style="list-style:none;padding:0;margin:0;">{$page}</ul></div>

          </div>

          </div>
        </div>

      </div>

    </div>

  </div>
<script>

  layui.config({
    base: 'http://localhost:8080/tp3/public/static/index/res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','laypage','jquery'],function(){
      var laypage = layui.laypage,$ = layui.$,
     mm = layui.mm;
       laypage.render({
        elem: 'demo0'
        ,count: 100 //数据总数
      });


    // 模版引擎导入
    //  var html = demo.innerHTML;
    //  var listCont = document.getElementById('list-cont');
    //  // console.log(layui.router("#/about.html"))
    // mm.request({
    //     url: 'http://localhost:8080/tp3/public/static/index/json/commodity.json',
    //     success : function(res){
    //       console.log(res)
    //       listCont.innerHTML = mm.renderHtml(html,res)
    //     },
    //     error: function(res){
    //       console.log(res);
    //     }
    //   })

    $('.sort a').on('click',function(){
      $(this).addClass('active').siblings().removeClass('active');
    })
    $('.list-box dt').on('click',function(){
      if($(this).attr('off')){
        $(this).removeClass('active').siblings('dd').show()
        $(this).attr('off','')
      }else{
        $(this).addClass('active').siblings('dd').hide()
        $(this).attr('off',true)
      }
    })

});
function SendForm() 
     {
        document.key.submit();
     }
</script>


</body>
</html>