        <!-- 侧边菜单开始 -->
        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>
            <ul class="nav nav-list">
                <li>
                    <a id="indexpage" href="{:url('My/index')}">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 控制台 </span>
                    </a>
                </li>

                <li>
                    <a href="{:url('My/information')}">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 个人信息 </span>
                    </a>
                </li>

                <li>
                    <a href="{:url('Order/index')}">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 订单管理 </span>
                    </a>
                </li>

                <li>
                    <a href="{:url('Order/evaluate')}">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 我的评价 </span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>
        </div>